.App {
    text-align: center;
}

.form {
    margin: 50px auto;
}

.input-message {
    width: 300px;
    height: 25px;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    outline: 2px solid lightgray;
    padding: 5px 10px;
}

.input-message:focus {
    box-shadow: lightgreen 0 0 3px 2px;
    outline: 2px solid lightgreen;
}

.del-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: url("../images/delete.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.side-wrap {
    margin: auto 0;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 20px;
}

.task-wrap {
    background: #adb1b8;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.task-wrap:hover {
    border: 1px solid lightgreen;
}

.todo-wrap {
    background: antiquewhite;
    border: #0f1111 solid 2px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 5px;
}

.send-btn {
    padding: 10px 20px;
    margin-left: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
}

/*.send-btn:active {*/
/*    border-bottom-color: #a2a6ac;*/
/*}*/

/*.send-btn:active:hover {*/
/*    border-bottom-color: #a2a6ac;*/
/*}*/

.send-btn:hover {
    background-position: right center;
}

/*.send-btn:focus {*/
/*    border-color: #e77600;*/
/*    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;*/
/*    outline: 0;*/
/*}*/

body {
    background: url("https://bogatyr.club/uploads/posts/2023-03/thumbs/1679295592_bogatyr-club-p-krasnii-sploshnoi-fon-foni-krasivo-3.png") no-repeat;
    background-size: cover;
}